In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [3]:
train = pd.read_csv('c:/kaggle/house_price/train.csv')
test = pd.read_csv('c:/kaggle/house_price/test.csv')

### Data fields
#### Here's a brief version of what you'll find in the data description file.

**SalePrice** - the property's sale price in dollars. 

**MSSubClass**: The building class

**MSZoning**: The general zoning classification

**LotFrontage**: Linear feet of street connected to property

**LotArea**: Lot size in square feet

**Street**: Type of road access

**Alley**: Type of alley access

**LotShape**: General shape of property

**LandContour**: Flatness of the property

**Utilities**: Type of utilities available

**LotConfig**: Lot configuration

**LandSlope**: Slope of property

**Neighborhood**: Physical locations within Ames city limits

**Condition1**: Proximity to main road or railroad

**Condition2**: Proximity to main road or railroad (if a second is present)

**BldgType**: Type of dwelling

**HouseStyle**: Style of dwelling

**OverallQual**: Overall material and finish quality

**OverallCond**: Overall condition rating

**YearBuilt**: Original construction date

**YearRemodAdd**: Remodel date

**RoofStyle**: Type of roof

**RoofMatl**: Roof material

**Exterior1st**: Exterior covering on house

**Exterior2nd**: Exterior covering on house (if more than one material)

**MasVnrType**: Masonry veneer type

**MasVnrArea**: Masonry veneer area in square feet

**ExterQual**: Exterior material quality

**ExterCond**: Present condition of the material on the exterior

**Foundation**: Type of foundation

**BsmtQual**: Height of the basement

**BsmtCond**: General condition of the basement

**BsmtExposure**: Walkout or garden level basement walls

**BsmtFinType1**: Quality of basement finished area

**BsmtFinSF1**: Type 1 finished square feet

**BsmtFinType2**: Quality of second finished area (if present)

**BsmtFinSF2**: Type 2 finished square feet

**BsmtUnfSF**: Unfinished square feet of basement area

**TotalBsmtSF**: Total square feet of basement area

**Heating**: Type of heating

**HeatingQC**: Heating quality and condition

**CentralAir**: Central air conditioning

**Electrical**: Electrical system

**1stFlrSF**: First Floor square feet

**2ndFlrSF**: Second floor square feet

**LowQualFinSF**: Low quality finished square feet (all floors)

**GrLivArea**: Above grade (ground) living area square feet

**BsmtFullBath**: Basement full bathrooms

**BsmtHalfBath**: Basement half bathrooms

**FullBath**: Full bathrooms above grade

**HalfBath**: Half baths above grade

**Bedroom**: Number of bedrooms above basement level

**Kitchen**: Number of kitchens

**KitchenQual**: Kitchen quality

**TotRmsAbvGrd**: Total rooms above grade (does not include bathrooms)

**Functional**: Home functionality rating

**Fireplaces**: Number of fireplaces

**FireplaceQu**: Fireplace quality

**GarageType**: Garage location

**GarageYrBlt**: Year garage was built

**GarageFinish**: Interior finish of the garage

**GarageCars**: Size of garage in car capacity

**GarageArea**: Size of garage in square feet

**GarageQual**: Garage quality

**GarageCond**: Garage condition

**PavedDrive**: Paved driveway

**WoodDeckSF**: Wood deck area in square feet

**OpenPorchSF**: Open porch area in square feet

**EnclosedPorch**: Enclosed porch area in square feet

**3SsnPorch**: Three season porch area in square feet

**ScreenPorch**: Screen porch area in square feet

**PoolArea**: Pool area in square feet

**PoolQC**: Pool quality

**Fence**: Fence quality

**MiscFeature**: Miscellaneous feature not covered in other categories

**MiscVal**: $Value of miscellaneous feature

**MoSold**: Month Sold

**YrSold**: Year Sold

**SaleType**: Type of sale

**SaleCondition**: Condition of sale

In [4]:
train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [155]:
df=pd.concat([train,test])
target=df.SalePrice

drop_list=df.isna().sum().sort_values(ascending=False)
target=df.SalePrice

In [156]:
drop_list=drop_list[drop_list>10]

In [157]:
drop_list=drop_list.index

In [158]:
drop_list

Index(['PoolQC', 'MiscFeature', 'Alley', 'Fence', 'SalePrice', 'FireplaceQu',
       'LotFrontage', 'GarageFinish', 'GarageQual', 'GarageCond',
       'GarageYrBlt', 'GarageType', 'BsmtExposure', 'BsmtCond', 'BsmtQual',
       'BsmtFinType2', 'BsmtFinType1', 'MasVnrType', 'MasVnrArea'],
      dtype='object')

In [159]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [160]:

df = df.drop(drop_list,axis=1)

In [161]:
df

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,61,0,0,0,0,0,2,2008,WD,Normal
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,0,5,2007,WD,Normal
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,42,0,0,0,0,0,9,2008,WD,Normal
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,35,272,0,0,0,0,2,2006,WD,Abnorml
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,84,0,0,0,0,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,1936,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,6,2006,WD,Normal
1455,2916,160,RM,1894,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,24,0,0,0,0,0,4,2006,WD,Abnorml
1456,2917,20,RL,20000,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,9,2006,WD,Abnorml
1457,2918,85,RL,10441,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,32,0,0,0,0,700,7,2006,WD,Normal
1458,2919,60,RL,9627,Pave,Reg,Lvl,AllPub,Inside,Mod,...,48,0,0,0,0,0,11,2006,WD,Normal

In [162]:
df.isna().sum().sort_values(ascending=False).head(50)

MSZoning         4
Functional       2
BsmtFullBath     2
BsmtHalfBath     2
Utilities        2
BsmtUnfSF        1
BsmtFinSF2       1
Exterior2nd      1
GarageCars       1
GarageArea       1
BsmtFinSF1       1
KitchenQual      1
Exterior1st      1
TotalBsmtSF      1
Electrical       1
SaleType         1
HalfBath         0
BedroomAbvGr     0
FullBath         0
KitchenAbvGr     0
Id               0
Fireplaces       0
TotRmsAbvGrd     0
LowQualFinSF     0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
GrLivArea        0
HeatingQC        0
2ndFlrSF         0
1stFlrSF         0
LotArea          0
Street           0
LotShape         0
LandContour      0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
dtype: int64

In [163]:
def fill_not_O_nan_median(data):
    for column in data.keys():
        if (data[column].isna().sum() > 0) & (data[column].dtype!='object'):
            data[column]=data[column].fillna(data[column].median())
def fill_O_nan_mode(data):
    for column in data.keys():
        if (data[column].isna().sum() > 0) & (data[column].dtype=='object'):
            data[column]=data[column].fillna(data[column].mode()[0])

In [164]:
fill_not_O_nan_median(df)
fill_O_nan_mode(df)

In [165]:
df.isna().sum().sort_values(ascending=False).head(50)

Id               0
Functional       0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BsmtFullBath     0
BsmtHalfBath     0
FullBath         0
HalfBath         0
BedroomAbvGr     0
KitchenAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Fireplaces       0
MSSubClass       0
GarageCars       0
GarageArea       0
PavedDrive       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
CentralAir       0
HeatingQC        0
Heating          0
TotalBsmtSF      0
MSZoning         0
LotArea          0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
dtype: int64

In [166]:
from sklearn.preprocessing import LabelEncoder

In [167]:
def Encoder(data):
    for column in data.keys():
        if data[column].dtype=='object':
            col_le = LabelEncoder()
            col_le.fit(data[column])
            data[column]=col_le.transform(data[column])

In [169]:
Encoder(df)

In [170]:
df

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,3,8450,1,3,3,0,4,0,...,61,0,0,0,0,0,2,2008,8,4
1,2,20,3,9600,1,3,3,0,2,0,...,0,0,0,0,0,0,5,2007,8,4
2,3,60,3,11250,1,0,3,0,4,0,...,42,0,0,0,0,0,9,2008,8,4
3,4,70,3,9550,1,0,3,0,0,0,...,35,272,0,0,0,0,2,2006,8,0
4,5,60,3,14260,1,0,3,0,2,0,...,84,0,0,0,0,0,12,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,1936,1,3,3,0,4,0,...,0,0,0,0,0,0,6,2006,8,4
1455,2916,160,4,1894,1,3,3,0,4,0,...,24,0,0,0,0,0,4,2006,8,0
1456,2917,20,3,20000,1,3,3,0,4,0,...,0,0,0,0,0,0,9,2006,8,0
1457,2918,85,3,10441,1,3,3,0,4,0,...,32,0,0,0,0,700,7,2006,8,4
1458,2919,60,3,9627,1,3,3,0,4,1,...,48,0,0,0,0,0,11,2006,8,4

In [171]:
df['SalePrice']=target
df

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,8450,1,3,3,0,4,0,...,0,0,0,0,0,2,2008,8,4,208500.0
1,2,20,3,9600,1,3,3,0,2,0,...,0,0,0,0,0,5,2007,8,4,181500.0
2,3,60,3,11250,1,0,3,0,4,0,...,0,0,0,0,0,9,2008,8,4,223500.0
3,4,70,3,9550,1,0,3,0,0,0,...,272,0,0,0,0,2,2006,8,0,140000.0
4,5,60,3,14260,1,0,3,0,2,0,...,0,0,0,0,0,12,2008,8,4,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,1936,1,3,3,0,4,0,...,0,0,0,0,0,6,2006,8,4,NaN
1455,2916,160,4,1894,1,3,3,0,4,0,...,0,0,0,0,0,4,2006,8,0,NaN
1456,2917,20,3,20000,1,3,3,0,4,0,...,0,0,0,0,0,9,2006,8,0,NaN
1457,2918,85,3,10441,1,3,3,0,4,0,...,0,0,0,0,700,7,2006,8,4,NaN
1458,2919,60,3,9627,1,3,3,0,4,1,...,0,0,0,0,0,11,2006,8,4,NaN

In [172]:
df_train=df.dropna()
df_train

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,8450,1,3,3,0,4,0,...,0,0,0,0,0,2,2008,8,4,208500.0
1,2,20,3,9600,1,3,3,0,2,0,...,0,0,0,0,0,5,2007,8,4,181500.0
2,3,60,3,11250,1,0,3,0,4,0,...,0,0,0,0,0,9,2008,8,4,223500.0
3,4,70,3,9550,1,0,3,0,0,0,...,272,0,0,0,0,2,2006,8,0,140000.0
4,5,60,3,14260,1,0,3,0,2,0,...,0,0,0,0,0,12,2008,8,4,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,7917,1,3,3,0,4,0,...,0,0,0,0,0,8,2007,8,4,175000.0
1456,1457,20,3,13175,1,3,3,0,4,0,...,0,0,0,0,0,2,2010,8,4,210000.0
1457,1458,70,3,9042,1,3,3,0,4,0,...,0,0,0,0,2500,5,2010,8,4,266500.0
1458,1459,20,3,9717,1,3,3,0,4,0,...,112,0,0,0,0,4,2010,8,4,142125.0
1459,1460,20,3,9937,1,3,3,0,4,0,...,0,0,0,0,0,6,2008,8,4,147500.0

In [173]:
from sklearn.model_selection import train_test_split
y=df_train.SalePrice
x=df_train.drop(columns='SalePrice')

In [174]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [175]:
x_test

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1160,1161,160,3,2280,1,3,3,0,4,0,...,0,0,0,0,0,0,7,2010,8,4
793,794,20,3,9158,1,3,3,0,4,0,...,130,0,0,0,0,0,6,2007,6,5
68,69,30,4,4608,1,3,3,0,0,0,...,0,0,0,0,0,0,6,2010,8,4
1094,1095,20,3,5868,1,3,3,0,4,0,...,0,80,0,160,0,0,5,2010,8,4
540,541,20,3,14601,1,3,3,0,4,0,...,68,0,0,0,0,0,3,2009,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,60,3,10141,1,0,3,0,0,0,...,94,0,0,291,0,0,12,2009,8,4
135,136,20,3,10400,1,3,3,0,4,0,...,0,0,0,0,0,0,5,2008,8,4
890,891,50,3,8064,1,3,3,0,0,0,...,0,0,0,0,0,2000,7,2007,8,4
260,261,80,3,19296,1,3,3,0,0,0,...,0,252,0,0,0,0,5,2009,8,4
109,110,20,3,11751,1,0,3,0,4,0,...,122,0,0,0,0,0,1,2010,0,4

In [176]:
x_train

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1027,1028,20,3,9520,1,0,1,0,4,0,...,44,0,0,0,0,0,4,2008,6,5
447,448,60,3,11214,1,0,3,0,0,0,...,0,0,0,0,0,0,7,2006,8,4
653,654,50,4,10320,1,3,3,0,4,0,...,0,239,0,0,0,0,6,2008,8,4
622,623,20,3,7064,1,3,3,0,4,0,...,0,0,0,0,0,0,7,2009,8,4
895,896,60,3,7056,1,3,3,0,4,0,...,50,0,0,0,0,0,10,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,50,4,5720,1,3,3,0,4,0,...,0,0,0,0,0,0,8,2009,8,0
168,169,60,3,8244,1,0,3,0,4,0,...,48,0,0,0,0,0,5,2007,8,4
221,222,60,3,8068,1,0,3,0,4,0,...,46,0,0,0,0,0,12,2009,4,4
1185,1186,50,3,9738,1,3,3,0,4,0,...,0,236,0,0,0,0,3,2006,8,4
103,104,20,3,10402,1,0,3,0,0,0,...,36,0,0,0,0,0,5,2010,8,4

In [177]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [178]:
model.fit(x_train,y_train)

RandomForestRegressor()

In [179]:
y_predict=model.predict(x_test)

In [180]:
y_test=np.array(y_test)
y_test.dtype

dtype('float64')

In [181]:
from sklearn.metrics import r2_score

In [184]:
r2_score(y_test,y_predict)

0.8677343126653589

In [185]:
Y_predict=model.predict(x)

In [186]:
r2_score(y,Y_predict)

0.9530441926739143

In [205]:
test_sub=df.iloc[1460:,:]
test_sub

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,2,11622,1,3,3,0,4,0,...,0,0,120,0,0,6,2010,8,4,NaN
1,1462,20,3,14267,1,0,3,0,0,0,...,0,0,0,0,12500,6,2010,8,4,NaN
2,1463,60,3,13830,1,0,3,0,4,0,...,0,0,0,0,0,3,2010,8,4,NaN
3,1464,60,3,9978,1,0,3,0,4,0,...,0,0,0,0,0,6,2010,8,4,NaN
4,1465,120,3,5005,1,0,1,0,4,0,...,0,0,144,0,0,1,2010,8,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,1936,1,3,3,0,4,0,...,0,0,0,0,0,6,2006,8,4,NaN
1455,2916,160,4,1894,1,3,3,0,4,0,...,0,0,0,0,0,4,2006,8,0,NaN
1456,2917,20,3,20000,1,3,3,0,4,0,...,0,0,0,0,0,9,2006,8,0,NaN
1457,2918,85,3,10441,1,3,3,0,4,0,...,0,0,0,0,700,7,2006,8,4,NaN
1458,2919,60,3,9627,1,3,3,0,4,1,...,0,0,0,0,0,11,2006,8,4,NaN

In [206]:
test_sub.isna().sum().sort_values(ascending=False)

SalePrice       1459
Fireplaces         0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
                ...
BsmtFinSF1         0
BsmtFinSF2         0
BsmtUnfSF          0
TotalBsmtSF        0
HeatingQC          0
Length: 63, dtype: int64

In [207]:
test_sub=test_sub.drop(columns='SalePrice')
test_sub

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,2,11622,1,3,3,0,4,0,...,0,0,0,120,0,0,6,2010,8,4
1,1462,20,3,14267,1,0,3,0,0,0,...,36,0,0,0,0,12500,6,2010,8,4
2,1463,60,3,13830,1,0,3,0,4,0,...,34,0,0,0,0,0,3,2010,8,4
3,1464,60,3,9978,1,0,3,0,4,0,...,36,0,0,0,0,0,6,2010,8,4
4,1465,120,3,5005,1,0,1,0,4,0,...,82,0,0,144,0,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,1936,1,3,3,0,4,0,...,0,0,0,0,0,0,6,2006,8,4
1455,2916,160,4,1894,1,3,3,0,4,0,...,24,0,0,0,0,0,4,2006,8,0
1456,2917,20,3,20000,1,3,3,0,4,0,...,0,0,0,0,0,0,9,2006,8,0
1457,2918,85,3,10441,1,3,3,0,4,0,...,32,0,0,0,0,700,7,2006,8,4
1458,2919,60,3,9627,1,3,3,0,4,1,...,48,0,0,0,0,0,11,2006,8,4

In [210]:
test_pred=model.predict(test_sub)

In [211]:
test_pred

array([125059.  , 149650.34, 178701.25, ..., 154449.62, 118642.24,
       227674.09])

In [212]:
house_id=list(test.Id)
submession_df=pd.DataFrame({"Id":house_id, "SalePrice": test_pred})

In [213]:
submession_df

        Id  SalePrice
0     1461  125059.00
1     1462  149650.34
2     1463  178701.25
3     1464  181571.50
4     1465  206379.95
...    ...        ...
1454  2915   89579.00
1455  2916   90583.00
1456  2917  154449.62
1457  2918  118642.24
1458  2919  227674.09

[1459 rows x 2 columns]

In [214]:
submession_df.to_csv("submession_housePrice.csv", index=False)